head(ng-app="KlohApp")
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title= title || "Kloh App"
  script(src="https://unpkg.com/angular@1.6.5/angular.min.js")
  
  //- materializecss
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")

  block css
  block headJs     
