head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  //- Chrome, Firefox and Opera
  meta( name="theme-color" content="#05ab8b")
  //-  Windows Phone
  meta( name="msapplication-navbutton-color" content="#4285f4")
  //-  iOS Safari
  meta( name="apple-mobile-web-app-status-bar-style" content="#4285f4")
  title= title || "Kloh App"
  link(rel="shortcut icon", href="https://kloh.in/images/favicon.ico", type="image/x-icon")
  script(type="text/javascript" src="https://unpkg.com/angular@1.6.5/angular.min.js")
  
  //- materializecss dependency
  script(src="https://code.jquery.com/jquery-3.2.1.min.js") 
  //- materializecss
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
  link( href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  link(rel="stylesheet", href="/stylesheets/app.css")
  script(src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js")
  script( async defer src="https://maps.googleapis.com/maps/api/js?key="+GOOGLE_MAP_API_KEY)

  block css
  block headJs     
