extends ./layout

block content
  div(ng-controller="listsController")
    .row
      .col.m12.l4(ng-repeat="activity in activities")
        a.card-link(href="/activity/{{activity.activityId}}")
          .card.medium.z-depth-5.hoverable
            .card-image
              img(ng-src='{{activity.imageUrl}}')
              span.card-title 
                h5 {{activity.title}} {{test}}
            .card-content
              

              .row
                .col.s2
                  i.material-icons.icon-color(title="Location") location_on
                .col.s10 {{activity.location.locality}}, {{activity.location.city}}
              .row
                .col.s2
                  i.material-icons.icon-color(title="Time") access_time
                .col.s10 {{activity.activityTime.activityDateString}}
                
            .card-action
                .col.s3
                    img.responsive-img.bordered(ng-src="{{activity.ownerProfileImageUrl}}", alt="Host")
                .col.s6.host-container
                  div.grey-text.darken-text-2.host-title Hosted by 
                  div.host-name {{activity.ownerName}}

                .col.s3
                  a() Join
                //- a(href="#") More Details




block footJs
  script(type="text/javascript" src="/javascripts/lists.js")