.nav-background{
  background: #06c8a3;
}

.nav-logo-image{
  height:60px;
  margin-left: 25px;
}
.card .card-image .card-title{

  padding: 24px 0 0 10px
}
.card .card-image .card-title h5{
  font-weight: 700;
  text-shadow: 1px 1px #0000009c;
}
a.card-link{
  color: #000000b3 !important;
}